{% extends "base.html" %}

{% block content %}
<style>
body {
    background-image: url("/static/Bilder/Hintergrundgrafiken/traumdeutung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
}
</style>
<div style="display: flex; justify-content: center;">
    <input id="questionField" type="text" placeholder="Erzähl mir von deinem Traum...">
    <button id="sendButton">Send</button>
</div>
<p id="responseField"></p>
<div id="chat-display"></div>
{% endblock %}
